<div *ngIf="character">
    <h2>{{ character.name }}</h2>
    <div>
      <label>Name:</label>
      <input class="input" [(ngModel)]="character.name" placeholder="Name" />
    </div>
    <div>
      <label>First Name:</label>
      <input class="input" [(ngModel)]="character.firstname" placeholder="First Name" />
    </div>
    <div>
      <label>Last Name:</label>
      <input class="input" [(ngModel)]="character.lastname" placeholder="Last Name" />
    </div>
    <div>
      <label>Place:</label>
      <input class="input" [(ngModel)]="character.place" placeholder="Place" />
    </div>
    <div>
      <label>Birthdate:</label>
        <input class="input" type:date [(ngModel)]="character.birthdate" placeholder="Date of birth" />
      </div>
    <button class="btn-add" (click)="updateCharacter(character)" *ngIf="character.id">Save</button>
    <button class="btn-delete" (click)="deleteCharacter(character)" *ngIf="character.id">Delete</button>
    <button class="btn-add" (click)="createCharacter(character)" *ngIf="!character.id">Create</button>
  </div> 
